div {
    color:darkmagenta;
    background-color: aquamarine;
    text-align: left;
}

h1,
h2 {
    color: cadetblue;
    font-weight: bold;
    text-align: center;
}

h4 {
    background-color: black;
    color: antiquewhite;
    font-size: large;
}

/* Class applied to both the h1 element and the ul element */
.test {
    font-size: larger;
    font-weight: bolder;
    color: aquamarine;
    background-color: darkgrey;
}

#top{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: x-large;
}