div {
    color:darkmagenta;
    background-color: aquamarine;
    text-align: left;
}

h1,
h2 {
    color: cadetblue;
    font-weight: bold;
    text-align: center;
}

h1{
    font-size: xx-large;
}

h4 {
    background-color: black;
    color: antiquewhite;
    font-size: large;
}

/* Class applied to both the h1 element and the ul element */
.test {
    font-weight: bolder;
    color: aquamarine;
    background-color: darkgrey;
}